@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.App {
  text-align: center;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2015/07/27/20/16/book-863418_1280.jpg");
}

* {
  font-family: 'Cinzel Decorative';
  font-weight: 900;
  color: white;
}

  input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  opacity: 0.5;
  border-color: rgba(111,111,111,0.2) transparent transparent;
  color:black;
  
}

input:focus {
  border: 2px solid #005C32;
  transition-duration: 0.4s;
}

button {
  transition-duration: 0.4s;
  background-color: black;
  color:white;
  padding: 15px;
  margin: 5px;
  border-radius: 25%;
}

button:hover {
  background-color: #D3AF5E; 
  border: 3px solid #005C32;
  color:black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.35), 0 17px 50px 0 rgba(0,0,0,0.30);
}
#createCharacterButton {
  background-color: #005C32;
  margin-top: 20px;
}

#createCharacterButton:hover {
  background-color: #005C32;
  background-color: #D3AF5E; 
  color:black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.35), 0 17px 50px 0 rgba(0,0,0,0.30);
  margin-top: 20px;
}

h1, h2, p {
  text-shadow: 2px 2px #000;
}

h1 {
  font-size: 30px;
}

p {
  font-size: larger;
}

#footerspacer {
  height: 15vh;
}

#footer {
  background-image: url("assets/transparent-pineapple.png");
  background-size: 50vw;
  background-position: bottom;
  max-height: 15vh; 
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 50vw;
  object-fit: contain;
}